html {
    background-color: black;
}

section {
    background-color: black;
}

.loginSignupPage {
    background-color: #333333; color: #FED136;
}



/****** NAVBAR ******/
.nav {
    text-align: center;
}

.menuTextColor {
    color: black;
}

#logoName {
    padding-right: 5px;
    font-size: 3em;
    font-family: 'Graduate', cursive;
}

.logoImage {
    width: 3em;
    height: 3em;
    float: left;
    margin-top: 3px;
}

/****** FOOTER ******/
footer {
    background-color: #222;
    font-family: 'Montserrat', sans-serif;
}

.footer-links a{
    padding: 10px;
}

.copyright {
    color: #FEC503;
}

.copyright a {
    color: #FEC503;
    text-decoration: underline;
}



/************** HOMEPAGE **************/
/*HEADER*/
.welcome {
    background-image: url(../img/field_lights.jpg);
}

header .intro-text .intro-lead-in {
    font-size: 2em;
}

header .intro-text .intro-heading {
    font-size: 1.75em;
}

.box_textshadow {
     text-shadow: 2px 2px 2px #000000; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

.welcome span {
    color: #FEC503;
}

/*HOW IT WORKS*/
.howItWorks {
    background-color: black;
    color: white;
    padding-top: 5%;
}

.howItWorks .section-heading {
    font-size: 2.5em
}

.howItWorks .section-subheading {
    display: none;
}

.howItWorks .icons {
    color: black;
}

.howItWorks p {
    color: white;
}

.howItWorks .getStartedBtn {
    margin-top: 5%; 
    color: black;
}

/*FEATURED CHARITIES*/
.featCharities {
    background-color: #000b14;
    color: white;
    padding-top: 5%;
}

.featCharities .section-heading {
    font-size: 2.5em
}

.featCharities .section-subheading {
    display: none;
}

.featCharities img {
    height: 200px;
    width: 100%;
}

.featCharities .allCharitiesBtn {
    margin-top: 5%; 
    color: black;
}
/*ALL CHARITIES PAGE*/
.charitiesPage {
    background-color: black;
}

.charitiesPage h1 {
    color: white;
}

.pagination>.active>span {
    background-color: #FEC503;
    color: black;
    border-color: black;
}

.pagination>.active>span:hover {
    background-color: #FEC503;
    color: black;
    border-color: black;
}

.pagination>li>a {
    background-color: #333;
    color: #FEC503;
    border-color: black;
}

.pagination>li>a:hover {
    background-color: black;
    color: #FEC503;
    border-color: black;
}

.pagination>.disabled>span {
    background-color: #333;
    border-color: black;
    color: #FEC503;
}

.pagination>.disabled>span:hover {
    background-color: #333;
    border-color: black;
    color: #FEC503;
}



/******** PLAY GAME PAGE **********/
.playGamePage, .showGamePage {
    background-color: black;
}

.gameSteps {
    color: white;
}

.btn-xl:hover, .open .dropdown-toggle.btn-xl, .gameBtn {
    color: black;
}

.scrollable-menu {
    height: auto;
    max-height: 125px;
    overflow-x: scroll;
    width: 100%; 
}

.dropdown-menu>li>a:hover{
    color: #FEC503;
    background-color: black;
}

.pickSquare {
    margin-top: 5%;
}

.pickSquare h3, p {
    color: white;
}

.homeTeamName {
    clear: both;
    margin-top: 10%;
}

.homeTeamName h1 {
    color: white;
    margin-bottom: 0px;
}

.homeTeamTop {
    display: block;
}

.awayTeamName {
    display: block;
    color: white;
}

.awayTeamName h1 {
    margin: 0px;
}

.awayTeamNameDesktop {
    display: none;
}

.anotherGameBtn {
    margin-top: 10%;
}

.pickSquareModal {
    margin-top: 10%;
    font-family: 'Montserrat', sans-serif;
}

table {
    background-color: #333;
    color: white;
}

th {
    background-color: #FEC503;
    color: black;
}

.userPick p {
    color: black;
}

.donation-container {
    margin: 20px 0 0 0
}

.donation-container label.btn-default.active {
    background-color: #000;
    color: #FEC503
}

.donation-container label.btn-default {
    width: 90%;
    border: 1px solid #efefef;
    margin: 5px;
    box-shadow: 5px 8px 8px 0 #ccc;
}

.donation-container label .bizcontent {
    width: 100%;
}

.donation-container .btn-group {
    width: 90%
}

.donation-container .btn span.glyphicon {
    opacity: 0;
}

.donation-container .btn.active span.glyphicon {
    opacity: 1;
}


/********** HOW TO PLAY PAGE *********/
.howtoplay {
    background-color: black;
}

.howtoplay h1 {
    color: white;
}

.htpSteps h1 {
    color: white;
}

.htpSteps .panel-primary {
    background-color: grey;
    border-color: grey;
}

.htpSteps .panel-heading {
    background-color: #222;
    border-color: #222;
}

.htpSteps .panel-footer {
    color: white;
    background-color: #222;
    border-color: #222;
}

.htpSteps span {
    color: #FEC503;
}

.howtoplay .playBtn {
    clear: both;
}

.howtoplay .playBtn a {
    color: black;
    margin-top: 5%;
}

/************* ACCOUNT PAGE *************/
.btn-lg{
    background-color: #FEC503;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: 3px;
}


/****** TABLET STYLES ******/
@media (min-width: 768px){

nav .container {
    width: 80%;
}

.nav>li>a {
    padding: 15px 10px;
}

#logoName {
    font-size: 2em;
}

.logoImage {
    width: 2em;
    height: 2em;
    margin-top: 10px;
}

header .intro-text {
    padding-top: 11%;
}

header .intro-text .intro-lead-in {
    font-size: 3em;
    margin-bottom: 0px;
    margin-top: 1em;
}

header .intro-text .intro-heading {
    font-size: 3em;
    margin-bottom: 0px;
}

.scrollable-menu {
    margin-left: 20%;
    width: 60%; 
}

.htpImg {
    height: 200px;
}

.accountInfo h4 {
    font-size: 2em;
}

}




/****** DESKTOP STYLES ******/

@media (min-width: 992px){

nav .container {
    width: 60%;
}

.howItWorks .section-subheading {
    display: block;
}

header .intro-text .intro-lead-in {
    font-size: 3em;
    margin-bottom: 25px;
    margin-top: 0px;
}

header .intro-text .intro-heading {
    font-size: 4em;
    margin-bottom: 25px;
}

.scrollable-menu {
    margin-left: 30%;
    width: 40%; 
}

.homeTeamName {
    margin-top: 5%;
}

.homeTeamTop {
    display: none;
}

.awayTeamName {
    display: none;
}

.awayTeamNameDesktop {
    display: block;
    color: white;
    text-align: left;
    transform: rotate(-90deg);
    transform-origin: right bottom 0;
    margin-top: 40% 
}

.anotherGameBtn {
    margin-top: 68%;
}

.htpImg {
    height: 350px;
}

}


@media (min-width: 1200px){

#logoName {
    font-size: 3em;
}

.logoImage {
    width: 3em;
    height: 3em;
    margin-top: 3px;
}

header .intro-text {
    padding-top: 17%;
}

}

