html, body {
    background-color: black;
    min-width: 360px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

section {
    background-color: black;
}

p {
    font-size: 16px;
}

table {
    background-color: #333;
    color: white;
}

th {
    background-color: #FEC503;
    color: black;
}

a {
    cursor: pointer;
}

@media (min-width: 768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: none;
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    #mainNav.navbar-custom.affix {
        background-color: #222;
        padding: 10px 0;
    }
}

.navbar-custom {
    background-color: #222;
    border-color: transparent;
}


.navbar-custom .navbar-brand {
    color: #fed136;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}

.navbar-custom .nav li a {
    font-weight: 400;
    letter-spacing: 1px;
}

.navbar-custom .nav li a, .navbar-custom .navbar-toggle {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.btn-primary, .btn-xl, h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:hover {
    color: #fed136;
    outline: 0;
}

a.active, a:active, a:focus, a:hover {
    color: #fec503;
}

a, a.active, a:active, a:focus, a:hover {
    outline: 0;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    line-height: 40px;
    text-transform: uppercase;
    text-transform: none;
}

footer span.copyright, footer ul.quicklinks {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-custom .navbar-brand.active, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:hover {
    color: #fec503;
}


section h3.section-subheading {
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 75px;
}
#portfolio .portfolio-item .portfolio-caption p, section h3.section-subheading {
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
}
#contact .form-group input.form-control {
    height: auto;
}
#contact .form-group {
    margin-bottom: 25px;
}

.btn-xl {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

::selection {
    text-shadow: none;
    background: #fed136;
}
#contact ::placeholder {
    text-transform: uppercase;
    font-weight: bold;
}

#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

.btn.active, .btn:active, .btn:active:focus, .btn:focus {
    outline: 0;
}

.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01;
}

p {
    font-size: 14px;
    line-height: 1.75;
}
.text-primary, a {
    color: #fed136;
}

#contact .section-heading {
    color: #fff;
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}


input.form-control,
textarea.form-control {
    color: #FED136!important;
    background-color: #333!important;
    border-color: #ccc;
}

input.form-control::placeholder,
textarea.form-control::placeholder  {
    color: #ccc!important;
}

input.form-control:focus,
textarea.form-control:focus  {
    border-color: #FED136!important;
    box-shadow: none!important;
}

input.form-control:focus::placeholder,
textarea.form-control:focus::placeholder {
    color: #FED136!important;
}

::-webkit-scrollbar {
    width: 0px;
}

.container {
    padding: 5px!important;
}

.navbar li a, .navbar-header a, footer a {
    cursor: pointer;
}

.pageTitle {
    text-align: center;
    color: #fff;
    margin: 0;
}
th.winningScore {
    background: #51B46C!important;
    color: #efefef;
}
#successMessage, #errorMessage, #infoMessage, #confirmMessage {
    font-size: 1.1em;
    min-width: 350px;
    /* position: absolute; */
    position: fixed;
    top: 50px;
    right: 5px;
    border-radius: 2px;
    box-shadow: 0 2px 9px rgba(60, 74, 84, .7);
    margin: 7px 9px 11px 9px;
    z-index: 10000;
    border-color: #dff0d8;
    /* color: #efefef; */
    color: #fff;
    font-weight: bold;
    text-align: center;
}
#successMessage{
    /* background: #51B46C; */
    background: #2ecc71;
    /* color: darkslategray; */
}
#errorMessage {
    background: crimson;
}
#infoMessage {
    background: #333;
}

.confirm-modal {
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
#confirmMessage {
    max-width: 400px;
    background: #333;
    border: 1px solid;
    top: calc(50vh - 113px);
    left: calc(50vw - 209px);
}
#confirmMessage .confirm-container .confirmText {
    padding: 15px;
}
#confirmMessage .confirm-container .confirm-btns .confirm,
#confirmMessage .confirm-container .confirm-btns .cancel {
    display: inline-block;
    width: 50%;
}
#confirmMessage .confirm-container .confirm-btns button {
    width: 100%;
    border-radius: 0;
}

#loading {
    width: 200px;
    height: 100px;
    position: absolute;
    /* top: calc(50vh - 50px); */
    top: calc(50vh - 100px);
    right: calc(50vw - 100px);
    border-radius: 2px;
    box-shadow: 0 2px 9px rgba(60, 74, 84, .7);
    margin: 7px 9px 11px 9px;
    background-color: #222;
    color: #fec503;
    /* color: #F3F4F7; */
    z-index: 1050;
    padding-top: 30px;
    font-size: 1.75em;
}

.btn-lg, .btn-xl, .btn {
    background-color: #fed136;
    border-color: #fed136;
    color: #000!important;
    font-weight: bold;
    border-radius: 3px;
    text-transform: uppercase;
}

.btn-lg:hover, .btn-xl:hover, .btn:hover,
.btn-lg:active, .btn-xl:active, .btn:active,
.btn-lg:focus, .btn-xl:focus, .btn:focus,
.btn-lg:active:focus, .btn-xl:active:focus, .btn:active:focus {
    color: #000!important;
    background-color: #FEC503;
}

.btn-lg.btn-success, .btn-xl.btn-success, .btn.btn-success {
    background-color: #5cb85c!important;
    border-color: #4cae4c!important;
}
.btn-lg.btn-cancel, .btn-xl.btn-cancel, .btn.btn-cancel {
    background-color: #4e505a!important;
    border-color: #4e505a!important;
    color: lightgrey!important;
}
.btn-lg.btn-danger, .btn-xl.btn-danger, .btn.btn-danger {
    background-color: #d9534f!important;
    border-color: #d43f3a!important;
}
.btn-lg.btn-success:hover, .btn-xl.btn-success:hover, .btn.btn-success:hover,
.btn-lg.btn-success:active, .btn-xl.btn-success:active, .btn.btn-success:active,
.btn-lg.btn-success:focus, .btn-xl.btn-success:focus, .btn.btn-success:focus,
.btn-lg.btn-success:active:focus, .btn-xl.btn-success:active:focus, .btn.btn-success:active:focus {
    background-color: #449d44!important;
    border-color: #398439!important;
}
.btn-lg.btn-danger:hover, .btn-xl.btn-danger:hover, .btn.btn-danger:hover,
.btn-lg.btn-danger:active, .btn-xl.btn-danger:active, .btn.btn-danger:active,
.btn-lg.btn-danger:focus, .btn-xl.btn-danger:focus, .btn.btn-danger:focus,
.btn-lg.btn-danger:active:focus, .btn-xl.btn-danger:active:focus, .btn.btn-danger:active:focus {
    background-color: #c9302c!important;
    border-color: #ac2925!important;
}
.btn-lg.btn-cancel:hover, .btn-xl.btn-cancel:hover, .btn.btn-cancel:hover,
.btn-lg.btn-cancel:active, .btn-xl.btn-cancel:active, .btn.btn-cancel:active,
.btn-lg.btn-cancel:focus, .btn-xl.btn-cancel:focus, .btn.btn-cancel:focus,
.btn-lg.btn-cancel:active:focus, .btn-xl.btn-cancel:active:focus, .btn.btn-cancel:active:focus {
    background-color: #36383F!important;
    border-color: #36383F!important;
    color: lightgrey!important;
}

.loginSignupPage {
    background-color: #333;
    color: #FED136;
}

.availableSquare {
    background: linear-gradient(#333, #222);
}

.gameTableHeader {
    background: linear-gradient(#ffce7a,#FEC503)!important;
    text-align: center!important;
    border-color: #000!important;
}

.table-bordered>thead>tr>th {
    border-bottom-width: 1px;
}

.showOnMobile, .showOnTablet {
    display: none!important;
}
@media (max-width: 767px){
    .showOnMobile {
        display: block!important;
    }
    .hideOnMobile {
        display: none!important;
    }
}
@media (max-width: 991px){
    .showOnTablet {
        display: block!important;
    }
    .hideOnTablet {
        display: none!important;
    }
}
    .hide {
        display: none!important;
    }
    .show {
        display: block!important;
    }
    .italic {
        font-style: italic!important;
    }
    .bold {
        font-weight: bold!important;
    }
    .normal {
        font-weight: normal!important;
    }
    .uppercase {
        text-transform: uppercase!important;
    }
    .lowercase {
        text-transform: lowercase!important;
    }
    .capitalize {
        text-transform: capitalize!important;
    }
    .thickLimeGreenBorder {
        border: 4px solid #26f326!important;
    }
    .fc-black {
        color: #000!important;
    }
    .fc-white {
        color: #fff!important;
    }
    .fc-red {
        color: red!important;
    }
    .fc-yellow {
        color: #fed136!important;
    }
    :root {
      --yellow-font: #fed136!important;
    }
    .fc-grey {
        color: lightgrey!important;
    }
    .fc-green {
        color: #5cb85c!important
    }
    .fs-12 {
        font-size: 12px!important;
    }
    .fs-14 {
        font-size: 14px!important;
    }
    .fs-16 {
        font-size: 16px!important;
    }
    .fs-18 {
        font-size: 18px!important;
    }
    .fs-20 {
        font-size: 20px!important;
    }
    .fs-25 {
        font-size: 25px!important;
    }
    .fs-30 {
        font-size: 30px!important;
    }
    .margin-top-0 {
        margin-top: 0px!important;
    }
    .margin-top-5 {
        margin-top: 5px!important;
    }
    .margin-top-10 {
        margin-top: 10px!important;
    }
    .margin-top-15 {
        margin-top: 15px!important;
    }
    .margin-top-20 {
        margin-top: 20px!important;
    }
    .margin-top-50 {
        margin-top: 50px!important;
    }
    .margin-top-75 {
        margin-top: 75px!important;
    }
    .margin-right-10 {
        margin-right: 10px!important;
    }
    .margin-right-15 {
        margin-right: 15px!important;
    }
    .margin-right-20 {
        margin-right: 20px!important;
    }
    .margin-bottom-0 {
        margin-bottom: 0px!important;
    }
    .margin-bottom-5 {
        margin-bottom: 5px!important;
    }
    .margin-bottom-10 {
        margin-bottom: 10px!important;
    }
    .margin-bottom-15 {
        margin-bottom: 15px!important;
    }
    .margin-bottom-20 {
        margin-bottom: 20px!important;
    }
    .margin-bottom-75 {
        margin-bottom: 75px!important;
    }
    .margin-left-5 {
        margin-left: 5px!important;
    }
    .margin-0-auto {
        margin: 0 auto;
    }
    .margin-0 {
        margin: 0px!important;
    }
    .padding-0 {
        padding: 0px !important;
    }
    .padding-5 {
        padding: 5px !important;
    }
    .padding-10 {
        padding: 10px !important;
    }
    .padding-15 {
        padding: 15px !important;
    }
    .padding-t-0 {
        padding-top: 0px !important;
    }
    .padding-b-0 {
        padding-bottom: 0px !important;
    }
    .padding-l-0 {
        padding-left: 0px !important;
    }
    .padding-r-0 {
        padding-right: 0px !important;
    }
    .padding-r-5 {
        padding-right: 5px !important;
    }
    .padding-t-30 {
        padding-top: 30px !important;
    }
    .padding-b-10 {
        padding-bottom: 10px !important;
    }
    .underline {
        text-decoration: underline!important;
    }
    .hideOverflow {
        overflow: hidden!important;
    }
    .overflow-auto {
        overflow: auto!important;
    }
    .middle {
        vertical-align: middle!important;
    }
    .top {
        vertical-align: top!important;
    }
    .bottom {
        vertical-align: bottom!important;
    }
    .inline-block {
        display: inline-block!important;
    }
    .inline-flex {
        display: inline-flex!important;
    }
    .inline {
        display: inline!important;
    }
    .clear {
        clear: both;
    }
    .width20 {
        width: 20%!important;
    }
    .width25 {
        width: 25%!important;
    }
    .width50 {
        width: 50%!important;
    }
    .width60 {
        width: 60%!important;
    }
    .width70 {
        width: 70%!important;
    }
    .width75 {
        width: 75%!important;
    }
    .width85 {
        width: 85%!important;
    }
    .width100 {
        width: 100%!important;
    }
    .absolute {
        position: absolute!important;
    }
    .fixed {
        position: fixed!important;
    }
    .blackBorder {
        border-color: black!important;
    }
    .smallGreyBorder {
        border: 1px solid lightgrey;
    }
    .ellipsis {
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
        margin: 0 auto;
        overflow: hidden;
    }
    .showUserName {
        text-overflow: ellipsis!important;
        max-width: 50px!important;
        white-space: nowrap!important;
        margin: 0 auto;
        overflow: hidden!important;
    }
    .noBorder {
        border: none!important;
    }
    .transparent {
        background: transparent!important;
    }
    .cursor-arrow {
        cursor: default!important;
    }
    .outline-text {
        -webkit-text-stroke: 1px #000;
        -moz-text-stroke: 1px #000;
        -o-text-stroke: 1px #000;
        -ms-text-stroke: 1px #000;
    }
    .c-pointer {
        cursor: pointer;
    }
    .no-decor {
        text-decoration: none !important;
    }


/****** FOOTER ******/
footer {
    background-color: #222;
}

.footer-links a{
    padding: 10px;
}

.copyright, .copyright a {
    color: #FEC503;
}


/************** SITE BACKGROUND **************/
.welcome {
    background-image: url(../img/field_lights_low.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
}


/********  PICKS TABLE  **********/
#picksTable td:not(.notAvailable):hover, #picksTable .deletePick:hover {
    cursor: pointer;
}
#picksTable .gameTableHeader a:hover {
    color: #333!important;
}
@media(max-width: 1200px){
    #picksTable .container {
        width: 100%;
    }
}
@media(max-width: 992px){
    #picksTable .awayTeamNameDesktop {
        display: none;
    }
    #picksTable .awayTeamName {
        display: block;
    }
}
#picksTable .picksBtns {
    padding-top: 0px;
}
#picksTable .picksBtns .col-xs-6 {
    padding: 0px;
}
@media(min-width: 992px){
    #picksTable .awayTeamNameDesktop {
        display: block;
    }
    #picksTable .awayTeamName, #picksTable .homeTeamName {
        display: none;
    }
    #picksTable .picksBtns {
        padding-top: 30px;
    }
}
#picksTable .picksBtns #confirmPicksBtn {
    max-width: 190px;
    width: 100%;
    font-size: 1.5rem;
    background-color: #58af42;
    border-color: darkgreen;
}
#picksTable .picksBtns #confirmPicksBtn:hover {
    background-color: #52a03d!important;
}
#picksTable .picksBtns #clearPicksBtn {
    max-width: 190px;
    width: 100%;
    font-size: 1.5rem;
    background-color: #db3125;
    border-color: darkred;
}
#picksTable .picksBtns #clearPicksBtn:hover {
    background-color: #cc2b22!important;
}
@media(max-width:565px){
    #picksTable .awayTeamName h1, #picksTable .homeTeamName h1{
        font-size: 20px;
    }
}
#picksTable #gameTable .verticalTeamName {
     text-align: center;
     width: 408px;
     margin-left: -165px;
     position: absolute;
     top: 243px!important;
     transform: rotate(-90deg);
     -webkit-transform: rotate(-90deg); /* Safari/Chrome */
     -moz-transform: rotate(-90deg); /* Firefox */
     -o-transform: rotate(-90deg); /* Opera */
     -ms-transform: rotate(-90deg); /* IE 9 */
}
#picksTable #gameTable .gameTableColumns {
    width: calc(100%/13);
}
@media(max-width:991px) {
    #picksTable #gameTable .hideAwayTeam,
    #picksTable #gameTable .hideHomeTeam,
    #picksTable #gameTable .hideGameTableColumn {
        display: none;
    }
    #picksTable #gameTable .gameTableColumns {
        width: calc(100%/12);
    }
}
@media(min-width:1200px) {
    #picksTable #gameTable .verticalTeamName {
        margin-left: -150px;
    }
}
/******** END PICKS TABLE  **********/


/********** HOW TO PLAY PAGE *********/
.htpSteps .panel-primary {
    background-color: grey;
    border-color: grey;
}

.htpSteps .panel-heading,
.htpSteps .panel-footer {
    background-color: #222;
    border-color: #222;
}

.htpSteps .panel-footer {
    min-height: 80px;
}



/****** TABLET STYLES ******/
@media (min-width: 768px){
    .htpImg {
        height: 200px;
    }
}




/****** DESKTOP STYLES ******/

@media (min-width: 992px){
    .homeTeamTop {
        display: none!important;
    }

    .htpImg {
        height: 350px;
    }
}



/*STYLES TABLES FOR MOBILE*/
@media only screen and (max-width: 700px) {
    .seeResultMobile {
        display: block;
    }
    .seeResult {
        display: none;
    }
    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }
    #no-more-tables .charitySite{
        display: none;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr { border: 1px solid #ccc; }

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
        color: #FEC503;
    }

    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}
table tr:nth-child(even){background-color: #262424}

@media(max-width: 767px){
    #no-more-tables.table-responsive {
        border:none;
    }
    #no-more-tables table {
        padding: 0px;
    }
}
@media(max-width: 767px)and (min-width: 700px){
    .table-responsive > .table-bordered {
        border:unset!important;
        border:1px solid #fff!important;
    }
}




/****** CONTACT PAGE *******/
section#contact {
    background-color: #000;
    padding: 100px 0px 20px;
}
#contact .form-group input,
#contact .form-group textarea {
    padding: 12px;
}
#contact .form-group textarea.form-control {
    height: 188px;
}
@media(min-width: 992px){
    section#contact {
        min-height: calc(100vh - 168px);
    }
}
section h3.section-subheading {
    margin-bottom: 30px!important;
}
@media(max-width:565px){
    #pageContent section {
        padding-top: 25px!important;
    }

    section h3.section-subheading {
        width: 75%;
        margin: 0 auto;
        margin-top: 15px!important;
        margin-bottom: 15px!important;
    }
}



/********** GAMES FOR WEEK ***********/
@media(max-width:700px){
    .gamesForWeek img {
        width: 65px;
        height: 60px;
    }
    .gamesForWeek .fs-12 {
        font-size: 16px!important;
    }
    .gamesForWeek .width50 {
        width: 49%!important;
        display: inline-block;
    }
    .gamesForWeek .pull-left, .gamesForWeek .pull-right {
        float: unset !important;
    }
    .gamesForWeek table tr td a>div{
        vertical-align: top;
    }
    .gamesForWeek .width60 {
        width: 0!important;
    }
}
.gamePrice, .gameId {
    position: absolute;
}
.gamePrice-ribbon-wrapper, .gameId-ribbon-wrapper {
    width: 65px;
    height: 80px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    left: -3px;
}
.gameId-ribbon {
    background-color: #000;
    text-align: center;
    top: 60px;
    position: relative;
    left: 3px;
}
.gamePrice-ribbon {
    font: bold 15px sans-serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(-46deg);
    -moz-transform:    rotate(-46deg);
    -ms-transform:     rotate(-46deg);
    -o-transform:      rotate(-46deg);
    position: relative;
    padding: 2px 0;
    top: 4px;
    left: -19px;
    width: 70px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);

}
.gamePrice-ribbon:before, .gamePrice-ribbon:after {
    content: "";
    border-top:   3px solid #6e8900;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}
.gamePrice-ribbon:before {
    left: 0;
}
.gamePrice-ribbon:after {
    right: 0;
}
@media(min-width:701px){
    td.gameDayTime {
        vertical-align: top;
        padding: 0px!important;
    }
}
.gameTime {
    margin-top:30px;
    z-index:2;
    position: relative;
}
@media(max-width:700px){
    .gamePrice, .gameId {
        display: none!important;
    }
    .gameTime {
        margin-top: 0px;
    }
}
.time {
    color: #eee;
    font-style: italic;
    font-size: 12px;
}
/********** GAMES FOR WEEK TABLE ***********/
.homeTeamTop {
    display: block;
}
.playGamePage {
    /* height: 700px; */
    height: calc(100vh - 175px);
    padding: 5px;
}
.playGamePage #no-more-tables {
    overflow: auto;
    height: calc(100% - 25px);
    width: 100%;
    margin:0 auto;
}

.playGamePage #no-more-tables tr:nth-child(odd) {
    background-color: #333;
}

.playGamePage #no-more-tables .table-bordered {
    background-color:transparent!important;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}
.playGamePage #no-more-tables .dateOfGame:not(:first-child) {
    margin-top: 25px;
}
.playGamePage #no-more-tables .dateOfGame {
    color: #bbb;
}
.playGamePage .playGameBtn {
    width: 85%;
    padding: 5px;
}
.playGamePage .gameDayTime {
    font-size: 0.75em;
}
@media(max-width: 767px) and (min-width: 701px){
    .playGamePage #no-more-tables table {
        font-size: 16px!important;
    }
}
@media(max-width: 700px){
    .playGamePage #no-more-tables .table-bordered {
        border:none!important;
    }
    .playGamePage #no-more-tables .table-bordered tbody tr:not(:last-of-type) {
        border-bottom:none!important;
        margin-bottom: 15px;
    }
    .playGamePage #no-more-tables td {
        padding-left: 50%;
    }
    .playGamePage .gameDayTime {
        width: 100%!important;
    }
    .playGamePage .playGameBtn {
        width: 100%!important;
        text-align: center;
    }
    .playGamePage #playGameBtn {
        padding-left: 8px!important;
    }
    .playGamePage [data-title="Game"] {
        font-size: 0.75em;
    }
    .playGamePage #no-more-tables {
        position: relative;
    }
    .playGamePage #no-more-tables .dateOfGame  {
        background-color: #000;
        text-align: center;
    }
}
    .playGamePage #no-more-tables {
        position: relative;
    }
    .playGamePage #no-more-tables .dateOfGame  {
        position: sticky;
        top: 0px;
        z-index: 3;
        background-color: #fed136;
        color: #000!important;
        border: 1px solid lightgrey;
        width: auto;
        padding: 5px;
        margin-bottom: 0px;
    }
.playGamePage h4.dateOfGame small {
    color: inherit!important;
}
@media (min-width: 701px) and (max-width: 1200px) {
    .playGamePage td#playGameBtn {
        padding: 0!important;
    }
}
.playGamePage sup {
    font-weight: bold;
}
@media(max-width: 1200px){
    .playGamePage .container {
        width: 95%;
    }
}

#availablePicks {
    width: 85%;
    margin: 0 auto;
    background-color: grey;
    border-radius: 10px;
}
#availablePicksLabel {
    font-size: 12px;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 0px;
}
#availablePicksBar {
    height: 12px;
    margin-top: 3px;
    background-color: green;
    border-radius: 10px;
}
@media(max-width:700px){
    #availablePicks {
        width: 100%!important;
    }
    #availablePicksBar {
        height: 20px!important;
    }
    #availablePicksLabel {
        font-size: 16px !important;
        margin: 2px auto !important;
        top: 38px!important;
        text-align: center;
    }
    #playGameBtn .absolute {
        position: unset !important;
    }
    #playGameBtn .width20 {
        width: unset !important;
    }
    #playGameBtn {
        padding: 5px!important;
    }
}
#playGameBtn .width20 {
    width: 20%;
}
.playGamePage #no-more-tables .gamesForWeekTables:not(:last-child) {
    margin-bottom: 10px!important;
}
/********** END OF GAMES FOR WEEK TABLE ***********/


/********** CHOOSE ANOTHER GAME MODAL ***********/
@media(min-width:768px){
    #chooseAnotherGame .modal-dialog {
        width: 65%;
    }
}
@media(max-width:1250px){
    #chooseAnotherGame .modal-dialog {
        width: 95%;
    }
}
@media(max-width:768px){
    #chooseAnotherGame .modal-dialog {
        width: auto;
        margin: 10px;
    }
}
#chooseAnotherGame .modal-content {
    background-color:#222;
}
#chooseAnotherGame .closeModalBtnContainer {
    height: 20px;
}
#chooseAnotherGame .closeModalBtn {
    padding: 0px 5px;
}
#chooseAnotherGame .modal-body {
    padding-top: 0px;
}
#chooseAnotherGame .gamesForWeekTables:not(:last-child) {
    margin-bottom: 10px;
}
/********** END OF CHOOSE ANOTHER GAME MODAL ***********/


/*********** LAST WEEK'S RESULTS ************/
.winningUsername {
    text-overflow: ellipsis;
    width: 85%;
    white-space: nowrap;
    margin: 0 auto;
    overflow: hidden;
}
/******* END OF LAST WEEK'S RESULTS ********/


/********** LEADERBOARD ***********/
.leaderboardName {
    text-overflow: ellipsis;
    width: calc(95% - 25px);
    white-space: nowrap;
    margin: 0 auto;
    overflow: hidden;
}
/******* END OF LEADERBOARD ********/



/********** DASHBOARD ***********/
.dashboard ul.dropdown-menu {
    width: 85%;
    transform: translateX(10%);
    background: #000;
    border: 1px solid #333;
    text-align: center;
    padding: 0;
}
.dashboard .dropdown-menu>li {
    border-bottom: 1px solid #333;
    padding: 10px 0;
    color:#eee!important;
}
.dashboard .dropdown-menu>li:last-child {
    border-bottom: none;
}
.dashboard .dropdown-menu>li:hover {
    cursor: pointer!important;
    background: #111;
    color:var(--yellow-font)!important;
}
@media (max-width:1200px) {
    .dashboard h3 {
        font-size: 20px;
    }
}
.dashboard .col-md-7, .dashboard .col-md-5 {
    height: calc(50vh - 70px);
    min-height: 365px;
}
.dashboard .col-md-4 {
    height: calc(50vh - 102px);
    min-height: 335px;
}
.dashboard .dashboardSection {
    border:1px solid #555;
    height: 100%;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, .75);
    opacity: 0.80
}
.dashboard .dashboardSection>h3 {
    margin-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.dashboard .dashboardSection h4 {
    margin: 0px;
}
.dashboard .dashboardSection .dateOfGame {
    position: sticky;
    top: 0px;
    background-color: #000;
    z-index: 3;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.dashboard .dashboardSection .gamesForWeekTables:not(:last-child) {
    margin-bottom: 10px;
}
.dashboard .dashboardSection .playGameBtn {
    width: 85%;
}
.dashboard .dashboardSection .table-header {
    position: sticky;
    top:0px;
    height: auto!important;
    margin-bottom: 0px;
}
.dashboard .dashboardSection>#no-more-tables {
    overflow: auto;
    width: 100%;
    height: calc(100% - 55px);
}
.dashboard .dashboardSection.gamesForWeek #no-more-tables {
    height: calc(100% - 70px);
}

.dashboard .startPlayingBtn, #currentGames .startPlayingBtn {
    border:1px solid #000;
    font-size: 20px;
    padding: 15px 30px;
}
.dashboard #startPlayingBtn, #currentGames #startPlayingBtn {
    margin-top: 40px;
}
@media (max-width: 991px) {
    .dashboard [class^="col-md-"] {
        margin-bottom: 0px;
    }
    .dashboard .row {
        padding-top: 0px!important;
    }
}
@media(max-width: 991px){
    .dashboard .col-md-7, .dashboard .col-md-5, .dashboard .col-md-4 {
        overflow: auto;
        height: calc(100vh - 165px);
    }
}
@media(max-width: 700px){
    /* .dashboard .col-md-7, .dashboard .col-md-5, .dashboard .col-md-4 {
        overflow: auto;
        height: 60vh;
    } */
    .dashboard .dashboardSection #playGameBtn {
        padding: 5px!important;
    }
    .dashboard .dashboardSection .playGameBtn, #currentGames .playGameBtn {
        width: 100%;
    }

    .dashboard .dashboardSection h4 {
        text-align: center;
    }
    .gameTeams .pull-left, .gameTeams .pull-right {
        float: none !important;
        display: inline-block;
    }
    .gameTeams .homeTeam {
        margin-bottom: 10px;
    }
    .gameTeams .width50 {
        width: 48% !important;
    }
    .width25.absolute {
        position: unset !important;
        width: unset !important;
    }
    .dashboard .dashboardSection #availablePicks {
        width: 100%!important;
    }
    .dashboard .dashboardSection #availablePicksBar {
        height: 20px!important;
    }
    .dashboard .dashboardSection #availablePicksLabel {
        font-size: 16px !important;
        margin: 2px auto !important;
        top: 38px!important;
        text-align: center;
    }
    .dashboard .dashboardSection #no-more-tables td {
        padding-left: 50%;
    }
}
.dashboard .dashboardSection a:hover {
    text-decoration: none;
}
.dashboard .dashboardSection.lastWeekResults .scores {
    text-align:left;
    vertical-align: middle;
    display: inline-flex;
    min-width: 30px;
}
.dashboard .dashboardSection #availablePicks {
    width: 85%;
    margin: 0 auto;
    background-color: grey;
    border-radius: 10px;
}
.dashboard .dashboardSection #availablePicksBar {
    height: 12px;
    margin-top: 3px;
    background-color: green;
    border-radius: 10px;
}
.dashboard .dashboardSection #availablePicksLabel {
    font-size: 12px;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 0px;
}
.dashboard h4.dateOfGame small {
    color: inherit!important;
}
.dashboard .col-sm-12 {
    width: 100%;
}
@media (min-width: 992px){
    .dashboard .dashboardSection .playGameBtn {
        width: 90%;
        padding: 5px 3px;
    }

    .dashboardSection .noGames, #currentGames .noGames {
        width:60%;
    }
}
@media(max-width:991px){
    .dashboardSection .noGames, #currentGames .noGames {
        width:45%;
    }
}
@media(max-width:600px){
    .dashboardSection .noGames, #currentGames .noGames {
        width:60%;
    }
}
@media screen and (max-width: 767px){
    .table-responsive {
        margin-bottom: 0px;
    }
}
/********** END OF DASHBOARD ***********/


/************* NEXT WEEK GAMES **************/
.nextWeekGames .nextWeekGamesTable:not(:last-child) {
    margin-bottom: 10px;
}
@media(max-width:700px){
    .nextWeekGames img {
        width: 65px;
        height: 60px;
    }
    .nextWeekGames .fs-12 {
        font-size: 16px!important;
    }
    .nextWeekGames .width50 {
        width: 49%!important;
        display: inline-block;
    }
    .nextWeekGames .pull-left, .nextWeekGames .pull-right {
        float: unset !important;
    }
    .nextWeekGames table tr td a>div{
        vertical-align: top;
    }
    .nextWeekGames .width60 {
        width: 0!important;
    }
}
/********** END OF NEXT WEEK GAMES ***********/


/************* MY CURRENT GAMES **************/
@media(max-width:700px){
    .myCurrentGames img {
        width: 65px;
        height: 60px;
    }
    .myCurrentGames .fs-12 {
        font-size: 16px!important;
    }
    .myCurrentGames .width50 {
        width: 48%!important;
        display: inline-block;
    }
    .myCurrentGames .pull-left, .myCurrentGames .pull-right {
        float: unset !important;
    }
    .myCurrentGames table tr td a>div{
        vertical-align: top;
    }
    .myCurrentGames .width70 {
        width: 0!important;
    }
}
/********** END OF MY CURRENT GAMES ***********/


/****************** NAVBAR ******************/
@media(min-width:768px){
    #mainNav.navbar-custom {
        background: rgba(0, 0, 0, .5);
        padding: 10px 0
    }
}

#mainNav .accountDropdown .navbar-content {
    width:320px;
    padding: 15px;
    padding-top: 5px;
    padding-bottom:0px;
    background-color: #222;
}

#mainNav .accountDropdown .navbar-content:before, #mainNav .accountDropdown .navbar-content:after {
    display: table;
    content: "";
    line-height: 0;
}

#mainNav .navbar-nav {
    margin: 0px;
}
#mainNav .navbar-header {
    height: 45px;
}
#mainNav .navbar-header .fa-bars {
    font-size: 1.5em;
}
#mainNav .accountDropdown .navbar-footer {
    background-color:#333;
}

#mainNav .accountDropdown .navbar-footer-content {
    padding: 5px 15px;
    border-top: 1px solid #444;
}
#mainNav .accountDropdown .navbar-footer-content a {
    background-color: #222;
    color: #fed136!important;
}
#mainNav .accountDropdown .navbar-footer-content a:hover {
    color: #000!important;
    background-color: #fed136;
    border-color: #000;
}
#mainNav.navbar-default .navbar-nav > .open > a,
#mainNav.navbar-default .navbar-nav > .open > a:hover,
#mainNav.navbar-default .navbar-nav > .open > a:focus,
#mainNav.navbar-default .navbar-nav > .open > a:active,
#mainNav.navbar-default .navbar-nav > .open > a:visited {
    background-color: rgb(0 ,0 ,0 ,0.5);
}
#mainNav .accountDropdown {
    padding: 0px;
    border-color: #444;
}
#mainNav .accountDropdown .showAvatarContainer {
    max-width: 106px;
    height: 106px;
    background-size: cover;
}
#mainNav .viewDashBtn,
#mainNav .viewDashBtn:focus,
#mainNav .viewDashBtn:active,
#mainNav .viewDashBtn:visited {
    background-color: #fed136!important;
    color: #000!important;
}
#mainNav .viewDashBtn:hover{
    background-color:#fec503!important;
}
#mainNav .editAccount {
    color: lightgrey!important;
}
#mainNav .editAccount:hover {
    color: #fff!important;
}
@media (max-width: 767px){
    #mainNav #bs-example-navbar-collapse-1 {
        clear: both;
        padding: 0;
    }
    #mainNav .nav>li {
        width: auto!important;
        text-align: center;
        border-bottom: 1px solid #333;
    }
    #mainNav .nav>li:hover {
        background: #111;
    }
    #mainNav {
        background-color: #222;
        padding: 10px 0px 0px;
        margin:0px;
    }
}
#mainNav>.container {
    width: 65%;
}
@media (max-width: 1300px) {
    #mainNav>.container {
        width: 95%;
    }
}
#mainNav .userAccount {
    width: 80px;
    height: 50px;
}
#mainNav .nav {
    text-align: right;
}
#mainNav.navbar-custom .navbar-toggle,
#mainNav.navbar-custom .navbar-toggle:hover {
float: right;
padding: 9px 25px;
margin: 0px;
background-color: unset;
border: none;
font-size: 22px;
}
#mainNav .menuTextColor {
    color: #fed136;
}

#mainNav .logoName {
    font-style: italic;
    /* font-family: 'Graduate', cursive!important; */
    font-size: 3em;
}
#mainNav .logoImage {
    /* position: relative;
    top: -12px;
    width: 70px;
    height: 70px;
    left: -10px; */

    position: relative;
    top: 2px;
    width: 175px;
    height: 45px;
    left: -10px;
}
#mainNav.navbar-default .navbar-toggle:focus,
#mainNav.navbar-default .navbar-toggle:hover {
    background-color: unset!important;
}

@media (min-width: 768px) {
    #mainNav.navbar-custom.affix {
        background-color: #222;
        padding: 10px 0;
    }
    #mainNav.navbar>.container .navbar-brand{
        margin-left: 0px;
    }
}
#mainNav .navbar-brand {
    padding: 15px;
    padding-right: 0;
}
/*************** END OF NAVBAR ****************/


/*************** DELETE PICK MODAL ****************/
#deletePickModal .modal-content {
    background-color:#222;
}
#deletePickModal .modal-body h3 {
    margin-top: 0px;
}
#deletePickModal .modal-body {
    padding-top: 0px;
}
#deletePickModal .closeModalBtnContainer {
    height: 20px;
}
#deletePickModal .closeModalBtn {
    padding: 0 5px;
}
#deletePickModal .modal-dialog {
    transform: translateY(30vh);
    margin: 10px;
}
@media (min-width: 645px){
    #deletePickModal .modal-dialog {
        width: 75%;
        margin: 0 auto;
    }
}
@media (min-width: 768px){
    #deletePickModal .modal-dialog {
        width: 500px;
    }
}
/************ END OF DELETE PICK MODAL *************/


/**************** NO FUNDS MODAL *****************/
#showNoFundsModal .modal-dialog {
    /* transform: translateY(20vh); */
    transform: translateY(25vh);
}
#showNoFundsModal .modal-content {
    background-color:#222;
}
#showNoFundsModal .modal-header {
    padding: 0px;
}
#showNoFundsModal .closeModalBtn {
    padding: 0 5px;
}
/************ END OF NO FUNDS MODAL *************/


/************ GAME/POT DETAILS MODAL *************/
#gameDetails .modal-content {
    background-color:#222;
}
#gameDetails .modal-body h3 {
    margin-top: 0px;
}
#gameDetails .modal-body {
    padding-top: 0px;
}
#gameDetails .closeModalBtnContainer {
    height: 20px;
}
#gameDetails .closeModalBtn {
    padding: 0 5px;
}
#gameDetails .modal-dialog {
    transform: translateY(30vh);
    margin: 10px;
}
@media (min-width: 645px){
    #gameDetails .modal-dialog {
        width: 75%;
        margin: 0 auto;
    }
}
@media (min-width: 768px){
    #gameDetails .modal-dialog {
        width: 500px;
    }
}
/********* END OF GAME/POT DETAILS MODAL **********/


/************ GAME STARTED MODAL *************/
#gameStartedModal .modal-content {
    background-color:#222;
}
#gameStartedModal .modal-body h3 {
    margin-top: 0px;
}
@media (max-width:480px) {
    #gameStartedModal .modal-body h3 {
        font-size: 1.9rem;
    }
}
#gameStartedModal .modal-body {
    padding-top: 0px;
}
#gameStartedModal .closeModalBtnContainer {
    height: 20px;
}
#gameStartedModal .closeModalBtn {
    padding: 0 5px;
}
#gameStartedModal .modal-dialog {
    transform: translateY(30vh);
    margin: 10px;
}
@media (min-width: 645px){
    #gameStartedModal .modal-dialog {
        width: 75%;
        margin: 0 auto;
    }
}
@media (min-width: 768px){
    #gameStartedModal .modal-dialog {
        width: 500px;
    }
}
/********* END OF GAME STARTED MODAL **********/


/*************** DELETE ACCOUNT MODAL ****************/
#deleteAccountModal .modal-content {
    background-color:#000;
    border: 2px solid red;
}
#deleteAccountModal .modal-body h3 {
    margin-top: 0px;
}
#deleteAccountModal .modal-body {
    padding-top: 0px;
}
#deleteAccountModal .closeModalBtnContainer {
    height: 20px;
}
#deleteAccountModal .closeModalBtn {
    padding: 0 5px;
}
#deleteAccountModal .modal-dialog {
    transform: translateY(25vh);
    margin: 10px;
}
@media (min-width: 645px){
    #deleteAccountModal .modal-dialog {
        width: 75%;
        margin: 0 auto;
    }
}
@media (min-width: 768px){
    #deleteAccountModal .modal-dialog {
        width: 500px;
    }
}
@media (max-width: 491px){
    #deleteAccountModal h3 {
        width: 100%!important;
    }
}
/************ END OF DELETE ACCOUNT MODAL *************/


/******************* ACCOUNT PAGE ********************/
@media(max-width: 991px){
    #accountPage section#accountInfo {
        background: unset!important;
    }
    #accountPage ul {
        max-width: 85%;
        margin: 0 auto;
    }
    #pageContent section {
        padding-top: 10px!important;
    }
    #accountPage section {
        height: calc(100vh - 88px)!important;
    }
    #accountPage .userCurrentGames {
        height:calc(100vh - 150px)!important;
    }
}
#accountPage .userCurrentGames {
    overflow:auto;
    height: 594px;
}
#accountPage section {
    min-height: 650px;
}
#accountPage #changePhoto:hover {
    color: var(--yellow-font)!important;
}
#accountPage ul li {
    list-style: none;
    background-color:#32333B;
    border-left: 6px solid;
    margin-bottom: 1px;
    text-transform: uppercase;
    font-weight: bold;
}
#accountPage ul li:hover {
    cursor: pointer;
    color: #000!important;
}
#accountPage ul a:hover {
    text-decoration: none;
}
#accountPage ul li.addCredit {
    border-color: #5cb85c;
}
#accountPage ul li.addCredit:hover {
    background-color: #449d44;
    border-color: #449d44;
}
#accountPage ul li.editInfo {
    border-color: #0ebeff;
}
#accountPage ul li.editInfo:hover {
    background-color: #0ebeff;
    border-color: #0ebeff;
}
#accountPage ul li.changePassword {
    border-color: #fed136;
}
#accountPage ul li.changePassword:hover {
    background-color: #FEC503;
    border-color: #FEC503;
}
#accountPage ul li.deleteAccount {
    border-color: #d9534f;
}
#accountPage ul li.deleteAccount:hover {
    background-color: #c9302c;
    border-color: #c9302c;
}
#accountPage .showAvatarContainer {
    max-width: 220px;
    height: 220px;
    background-size: cover;
}
#accountPage #accountInfo {
    background-color: #202125;
}
#accountPage #currentGames {
    background-color: #181818;
}
#accountPage .width25 {
    width: 24.25%!important;
}
@media(max-width: 700px){
    #accountPage .width25 {
        width: unset!important;
    }
}
/************ END OF ACCOUNT PAGE *************/


/************ CHOOSE FAVORITE TEAM MODAL *************/
#chooseFavTeamModal .modal-dialog {
    transform: translateY(10vh);
    max-width: 500px;
    width: auto;
    margin: 0 auto;
}
#chooseFavTeamModal .modal-content {
    background-color:#222;
}
#chooseFavTeamModal .modal-body {
    padding-top: 0px;
}
#chooseFavTeamModal .closeModalBtnContainer {
    height: 20px;
}
#chooseFavTeamModal .closeModalBtn {
    padding: 0 5px;
}
#chooseFavTeamModal #no-more-tables {
    height:calc(100% - 40px);
    overflow:auto;
}
@media(max-width:439px){
    #chooseFavTeamModal #no-more-tables {
        height:calc(100% - 70px);
    }
}
#chooseFavTeamModal a {
    text-decoration: none;
}
#chooseFavTeamModal .teamsList {
    height: 550px;
}
#chooseFavTeamModal #no-more-tables td:hover {
    background: #111;
    cursor: pointer;
}
/************ END OF CHOOSE FAVORITE TEAM MODAL *************/


/************ GAME TABLE MODAL *************/
#gameTableModal .modal-dialog {
    transform: translateY(10vh);
    max-width: 1200px;
    width: auto;
    margin: 0 auto;
}
#gameTableModal .modal-content {
    background-color:#222;
    height: 555px;
}
#gameTableModal .modal-body {
    padding-top: 0px;
}
#gameTableModal .closeModalBtnContainer {
    height: 20px;
}
#gameTableModal .closeModalBtn {
    padding: 0 5px;
}
@media(max-width:991px){
    #gameTableModal .modal-content {
        height: 600px;
    }
}
/************ END OF GAME TABLE MODAL *************/

@media (max-width: 991px) {
    [class*='col-'] {
        padding: 5px!important;
    }
}
@media (min-width: 992px) {
    [class*='col-'] {
        padding: 10px!important;
    }
}

.modal-body {
    padding: 10px;
}

.newSignLogin#container {
    background-color: #2e2e2e;
    width: 40%;
    margin: auto;
    padding: 2em;
    border-radius: 8px;
    border: hidden;
    opacity: .98;
}

.newSignLogin #buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.newSignLogin .signup,
.newSignLogin .login {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: hidden;
    font-size: large;
    font-weight: bold;
    color: #fff;
    background-color: #fff4;
    outline: none!important;
}

.newSignLogin .signup {
    border-radius: 8px 0 0 8px;
}

.newSignLogin .login {
    border-radius: 0 8px 8px 0;
}

.newSignLogin .active {
    background-color: #fed136;
    color: #111;
}

.newSignLogin .button,
.newSignLogin .forgot-link {
    cursor: pointer;
}

.newSignLogin .button:hover {
    background-color: #FEC503;
    color: #111;
}

.newSignLogin .message {
    grid-column: 1/3;
    align-self: center;
    text-align: center;
    margin: .75em auto;
}

.newSignLogin input.form-control {
    grid-column: 1/3;
    margin-bottom: 1.5em;
    font-size: 16px;
}

.newSignLogin .last-name {
    margin-left: 5px;
}
.newSignLogin .last-name,
.newSignLogin .first-name {
    width:calc(50% - 5px);
    display: inline-block;
}

.newSignLogin .forgot-pass {
    grid-column: 1/3;
    text-align: right;
    font-size: 0.8em;
    position: relative;
    top: -1em;
}

.newSignLogin .forgot-link {
    color: lightgrey;
    text-decoration: underline;
}

.newSignLogin input[type="submit"] {
    width: 100%;
    letter-spacing: 3px;
    border-radius: 8px;
}

@media (max-width: 1300px) {
    .newSignLogin#container {
        width: 50%;
    }
}
@media (max-width: 1000px) {
    .newSignLogin#container {
        width: 70%;
    }
}
@media (max-width: 900px) {
    .newSignLogin#container {
        width: 80%;
    }
}
@media (max-width: 700px) {
    .newSignLogin#container {
        width: 95%;
    }
}
