/************* NAVBAR Styles *************/
.navbar {
    margin-bottom: 0px;
}

.navbar-logo {
    padding: 5px 10px;
}

.nav>li {
    text-align: center;
}

.navbar-header>a {
    color: #ace894;
}

.navbar-header>a:hover {
    color: #ace894;
    text-decoration: none;
}

.navbar-logoName {
    /*font-size: 2.5em;*/
    font-size: 3em;
    font-family: 'Raleway';"
}

#kspace {
    letter-spacing: 4px;
}

.navbar-logoImg {
/*    width: 54px;
    height: 20px;
    margin-top: -11px;*/
    width: 65px;
    height: 24px;
    margin-top: -15px;
}

.userIcon {
    font-size: 2em;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    margin-top: 20px;
}

.navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
}

.navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-content {
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}

.navbar-content:before, .navbar-content:after {
    display: table;
    content: "";
    line-height: 0;
}

.navbar-toggle {
    color: #ace894;
}
.navbar-nav {
    margin: 0px;
}
.navbar-nav.navbar-right:last-child {
    /*margin-right: 15px !important;*/
}
.navbar-header .fa-bars {
    font-size: 1.5em;
}
.navbar-footer {
    background-color:#DDD;
}

.navbar-footer-content {
    padding:15px 15px 15px 15px;
}

.dropdown-menu {
    padding: 0px;
    overflow: hidden;
}
@media (min-width: 767px) {
    #signOutLi, #accountLi {
        display: none;
    }
}
@media (max-width: 767px) {
    .nav>.userAccount {
        display: none;
    }
}
/************* End of NAVBAR Styles *************/


/************* Homepage Styles *************/
body {
    background-color: #FAFAFA;
    display: none;
}

a {
    color: #000;
    text-decoration: none;
}

.smallGreyBorder {
    border: 0.5px solid lightgrey;
}

img.carouselImg {
    height: 450px!important;
    width: 100%!important;
}

.sidebar {
    margin-top: 20px;
    /*margin-top: 4%;*/
    position: sticky;
    top: 77px;
    z-index: 1000;
}

/*@media (min-width: 767px) {*/
    .sidebar .list-group-item {
        border-left: 5px solid;
        float:left;
        width:20%;
    }
/*}*/
.createPost {
    margin-top: 5%;
/*    border: 1px solid lightgrey;
    padding-bottom: 50px;*/
}

.createPostDesc {
    resize: none;
}

.postBtn {
    width: 80px;
}

.createPostBtn, .createPaycheckBtn {
    position: fixed;
    text-align: center;
    font-size: 2.5em;
    width: 50px; 
    height: 50px; 
    background: #ace894; 
    -moz-border-radius: 25px; 
    -webkit-border-radius: 25px; 
    border-radius: 25px;
    border: 2px solid #000;
}

.createPostBtn {
    bottom:100px;
    right:200px;
}

.createPaycheckBtn {
    bottom:200px;
    right:50px;
}

.createPostBtn a, 
a.createPaycheckBtn:hover, a.createPaycheckBtn:focus, 
a.createPaycheckBtn:active, a.createPaycheckBtn:visited {
    color: #000;
}

.posts {
    margin-top: 2%;
    margin-bottom: 0px;
    /*gives scroll effect for posts*/
    /*overflow-y: auto;
    height: 1000px;*/
}

article {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
}

.posts>a {
    color: black;
    text-decoration: none;
}

.posts>a:hover>article {
    background-color: #EEE;
    text-decoration: none;
}

footer {
    text-align: center;
    clear: both;
}

.footer {
    padding-top: 15px;
}

.socialMedia>a, .footer-links>a {
    font-size: 1.25em;
    padding: 2%;
    color: #ace894;
}

.copyright {
    color: #FAFAFA;
    font-size: 1em;
}
